<ion-content fullscreen class="onboarding-page">

  <div class="wrapper">

    <div class="illustration">
      <img src="assets/img/shine-illustration.png" alt="Đặt lịch khám" />
    </div>

    <!-- Tiêu đề + mô tả -->
    <div class="text-block">
      <h1>Quản lý lịch khám</h1>
      <p>
        Dẽ dàng sắp xếp, thay đổi lịch khám của
      </p>
      <p>
        bạn chỉ qua vài thao tác đơn giản
      </p>
    </div>

    <!-- Các nút social -->
    <div class="social-buttons">
      <ion-button expand="block" class="social-btn google">
        <img src="assets/icon/google.png" class="social-icon" alt="Google" />
        <span>Sign in with Google</span>
      </ion-button>

      <ion-button expand="block" class="social-btn facebook">
        <img src="assets/icon/facebook.png" class="social-icon" alt="Google" />
        <span>Sign in with Facebook</span>
      </ion-button>
    </div>

  </div>
</ion-content>
