<ion-content fullscreen>
  <div class="booking-container" *ngIf="clinicId; else noClinicTpl">

    <app-clinic-work-schedule [clinicId]="clinicId" [mode]="mode" [allowDepartmentSelect]="true"
      (saved)="onSaved()"></app-clinic-work-schedule>

  </div>

  <ng-template #noClinicTpl>
    <div class="no-clinic">
      <p>Chưa có thông tin phòng khám. Vui lòng đăng nhập lại hoặc chọn phòng khám.</p>
    </div>
  </ng-template>
</ion-content>

<ion-toast [isOpen]="toastOpen" [message]="toastMessage" color="success" duration="2000" position="bottom"
  (didDismiss)="toastOpen = false"></ion-toast>