<ion-content fullscreen>
  <div class="page-container">
    <h1 class="title">Lịch làm việc - {{ clinicName }}</h1>

    <!-- Chưa cấu hình clinic -->
    <div *ngIf="!mode || !clinicId">
      <p>Chưa cấu hình phòng khám.</p>
      <ion-button routerLink="/clinic-type">Thiết lập phòng khám</ion-button>
    </div>

    <!-- PHÒNG KHÁM CHUYÊN KHOA -->
    <ng-container *ngIf="mode === 'SPECIALTY' && clinicId">
      <app-clinic-work-schedule
        [clinicId]="clinicId!"
      [mode]="'SPECIALTY'"
      [allowDepartmentSelect]="false"
      (saved)="onScheduleSaved()">

      </app-clinic-work-schedule>
    </ng-container>

    <!-- PHÒNG KHÁM ĐA KHOA -->
    <ng-container *ngIf="mode === 'GENERAL' && clinicId">
      <!-- Danh sách khoa -->
      <app-clinic-department-list
        [clinicId]="clinicId!"
        (editRequested)="onEditDepartment($event)"
      ></app-clinic-department-list>

      <!-- Lịch cho khoa đang chọn (nếu có) -->
      <app-clinic-work-schedule
        *ngIf="selectedDepartmentId"
        [clinicId]="clinicId!"
        [mode]="'GENERAL'"
        [departmentId]="selectedDepartmentId"
        [allowDepartmentSelect]="false"
        (saved)="onScheduleSaved()"
      ></app-clinic-work-schedule>
    </ng-container>
  </div>
</ion-content>
