<div class="dept-form-overlay" (click)="onCancel()">

  <div class="form-container" (click)="$event.stopPropagation()">

    <div class="dept-card-blue">
      <h3 class="form-title">Thông tin Khoa bệnh</h3>

      <div class="input-group">
        <label>Tên đầy đủ</label>
        <input type="text" [(ngModel)]="name" placeholder="Nhập tên đầy đủ của khoa" class="custom-input" />
      </div>

      <div class="input-group">
        <label>Mô tả</label>
        <textarea [(ngModel)]="description" placeholder="Nhập mô tả khoa bệnh" rows="4"
          class="custom-input area"></textarea>
      </div>
    </div>

    <button class="save-floating-btn" (click)="onSubmit()" [disabled]="submitting">
      <ion-spinner name="crescent" *ngIf="submitting"></ion-spinner>
      <span *ngIf="!submitting">Lưu</span>
    </button>

  </div>
</div>