<ion-card>
  <ion-card-header>
    <ion-card-title>Chỉnh sửa lịch làm việc</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label>Ngày</ion-label>
      <ion-datetime
        presentation="date"
        [value]="selectedDate"
        (ionChange)="onDateChange($event)">
      </ion-datetime>
    </ion-item>

    <app-shift-list
      [shifts]="shifts"
      (shiftsChange)="onShiftsChange($event)">
    </app-shift-list>

    <ion-button expand="block" (click)="save()">
      Lưu ca làm việc
    </ion-button>
  </ion-card-content>
</ion-card>
