<ion-list>
  <ion-item *ngFor="let s of shifts">
    <ion-label slot="start">Ca</ion-label>

    <ion-input
      type="time"
      [value]="s.startTime"
      (ionChange)="updateShift(s, 'startTime', $event.detail.value!)">
    </ion-input>

    <span style="margin: 0 4px;">-</span>

    <ion-input
      type="time"
      [value]="s.endTime"
      (ionChange)="updateShift(s, 'endTime', $event.detail.value!)">
    </ion-input>

    <ion-button slot="end" fill="clear" color="danger"
                (click)="removeShift(s)">
      <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-button expand="block" fill="outline" (click)="addShift()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Thêm ca làm việc
    </ion-button>
  </ion-item>
</ion-list>
