<div class="dept-page">
  <!-- HEADER -->
  <div class="header" *ngIf="showHeader">
    <div class="header-bg"></div>
    <div class="header-bar">
      <h1 class="title">Các khoa bệnh</h1>

      <button
        type="button"
        class="add-btn"
        (click)="onCreateClick()"
      >
        <ion-icon [icon]="addIcon"></ion-icon>
      </button>
    </div>
  </div>

  <!-- LIST -->
  <div class="list-wrapper">

    <div class="loading" *ngIf="loading">
      <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="!loading && departments.length; else emptyTpl">
      <div class="dept-card" *ngFor="let dept of departments">
        <!-- nội dung card -->
        <div class="card-left">
          <img
            src="assets/img/clinic-dept-placeholder.png"
            alt="Ảnh khoa"
            class="avatar"
          />
        </div>

        <div class="card-right">
          <div class="card-header">
            <div class="dept-name">{{ dept.departmentName }}</div>

            <button
              type="button"
              class="close-btn"
              (click)="onDeleteClick(dept)"
            >
              <ion-icon [icon]="closeIcon"></ion-icon>
            </button>
          </div>

          <div class="dept-time">
            08:00 AM – 10:00 PM
          </div>

          <button
            type="button"
            class="edit-btn"
            (click)="onEditClick(dept)"
          >
            Chỉnh sửa
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #emptyTpl>
      <p class="empty-text" *ngIf="!loading">
        Chưa có khoa bệnh nào. Nhấn nút <strong>+</strong> để tạo mới.
      </p>
    </ng-template>
  </div>
</div>
